@font-face {
  font-family: "Golos";
  src: url("../fonts/golos-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Golos";
  src: url("../fonts/golos-medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}

body {
  font-family: "Golos", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-weight: 500;
}
