// widths
$tabletW: 768px;
$pre-desktopW: 1024px;
$desktopW: 1280px;

// colors
$black: #202226;
$blackText: #161616;
$white: #ffffff;
$grey: #f4f5f8;
$greyText: #757575;
$green: #308d77;
$blue: #2949b5;
$red: #d21924;
